@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialised;
}

:root {
    font-size: 18px;
    line-height: 1.5;
    --time: all 0.3s ease-out;
    font-family: Montserrat, sans-serif;
    scroll-behavior: smooth;
}

@media (max-width: 600px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 420px) {
    :root {
        font-size: 12px;
    }
}

img {
    display: block;
    width: 100%;
}

.nobr {
    white-space: nowrap;
}

header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(media/rome.jpg);
    background-size: cover;
    background-position: center;
    animation-name: party;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes party {
    0% {
        transform-origin: 50%;
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform-origin: 10%;
        transform: scale3d(1.1, 1.1, 1);
    }
    75% {
        transform-origin: 90%;
        transform: scale3d(1.2, 1.2, 1);
    }
    100% {
        transform-origin: 20%;
        transform: scale3d(1.3, 1.3, 1);
    }
}

h1 {
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    font-size: 100px;
    background-image: url(media/wreath-128.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 160px;
    margin-bottom: 5rem;
    transition: var(--time);
    position: relative;
    z-index: 5;
}

h1>span:first-child {
    display: block;
    font-weight: 100;
    
}

h1>span:last-child {
    display: block;
    font-weight: 600;
    line-height: 0.8;
}

h2 {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    letter-spacing: 1.3px;
    font-weight: 600;
    background-image: url(media/wreath-32.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 4rem;
}

section>p {
    max-width: 900px;
    margin: 0 auto;
}

@media (max-width: 1400px) {
    h1 {
        transform: scale(0.8);
    }
}

@media (max-width: 600px) {
    h1 {
        transform: scale(0.6);
    }
}

@media (max-width: 320px) {
    h1 {
        transform: scale(0.4);
    }
}

#btn {
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 1.3px;
    border: 1px solid #fff;
    padding: 28px 42px;
    background-color: rgba(0,0,0,0.3);
    transition: var(--time);
    z-index: 5;
}

#btn:hover {
    transform: scale(1.1);
}

#ham {
    width: 60px;
    height: 45px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    transform: scale(0.8);
    cursor: pointer;
}

#ham>span {
    display: block;
    width: 100%;
    height: 9px;
    background-color: #fff;
    border-radius: 9px;
    position: absolute;
    transition: var(--time);
}

#ham>span:nth-child(1) {
    top: 0;
}

#ham>span:nth-child(2),
#ham>span:nth-child(3) {
    top: 18px;
}

#ham>span:nth-child(4) {
    top: 36px;
}

/* opened version of hamburger */

#ham.open>span:nth-child(1),
#ham.open>span:nth-child(4) {
    top: 18px;
    opacity: 0;
}

#ham.open>span:nth-child(2) {
    transform: rotate(45deg);
}

#ham.open>span:nth-child(3) {
    transform: rotate(-45deg);
}


.hidden {
    opacity: 0;
    visibility: hidden;
}

#nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    transition: var(--time);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#nav>ul {
    text-align: center;
    list-style-type: none;
    background-image: url(media/wreath-32.png);
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 4rem;
}

#nav a {
    color: #bbb;
    text-decoration: none;
    font-size: 1.4rem;
    display: block;
    margin-bottom: 1.2rem;
    transition: var(--time);
}

nav a:hover {
    transform: scale(1.2);
}

main {
    background-color: #1a1a1a;
    color: #ccc;
    padding: 0 2rem;
    overflow: auto;
    text-align: center;
    position: relative;
}

section {
    margin: 6rem 0;
}

#intro>img {
    display: inline-block;
    width: 180px;
    border-radius: 50%;
    margin-bottom: 3rem;
}

#intro>p {
    font-size: 1.2rem;
    line-height: 1.4;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    max-width: 1100px;
    margin: 0 auto;
    gap: 10px;
}

#grid>div {
    transform: translate(0, 8rem);
    opacity: 0;
}

#grid>div:nth-child(odd) {
    transition: transform 0.5s, opacity 1.5s;
}

#grid>div:nth-child(even) {
    transition: transform 1s, opacity 2.5s;
}

#grid>div.inviewport {
    transform: translate(0, 0);
    opacity: 1;
}

/* elemets with text colors */
#grid>div:nth-child(2), 
#grid>div:nth-child(15) {
    background-image: linear-gradient(135deg, #4d7c7b 0%, #083a38 100%);
}

#grid>div:nth-child(4), 
#grid>div:nth-child(11) {
    background-image: linear-gradient(135deg, #a90329 0%, #6d0019 100%);
}

#grid>div:nth-child(7) {
    background-image: linear-gradient(135deg, #4366ad 0%, #233e77 100%);
}

#grid>div:nth-child(8) {
    background-image: linear-gradient(135deg, #c9ac30 0%, #600202 100%);
}

#grid p {
    text-align: left;
    padding: 1rem;
}

#grid img {
   height: 100%; 
   object-fit: cover; 
}

#grid>div:nth-child(1) {
    grid-row: 1 / 3;
}

#grid>div:nth-child(5) {
    grid-row: 2 / 4;
    grid-column: 2 / 4;
}

#grid>div:nth-child(10) {
    grid-row: 4 / 6;
    grid-column: 2 / 3;
}


@media (max-width: 900px) {

    #grid {
        grid-template-columns: repeat(3, 1fr);
    }

    #grid>div:nth-child(1) {
        grid-row: 2 / 4;
    }

    #grid>div:nth-child(7),
    #grid>div:nth-child(11) {
        grid-row: 4 / 5;
    }

    #grid>div:nth-child(12),
    #grid>div:nth-child(14) {
        grid-row: 5 / 6;
    }

    #grid>div:nth-child(15) {
        grid-row: 6 / 7;
    }

    #grid>div:nth-child(9),
    #grid>div:nth-child(13) {
        display: none;
    }

}


@media (max-width: 660px) {

    #grid {
        grid-template-columns: repeat(2, 1fr);
    }

    #grid>div:nth-child(1) {
        grid-row: 2 / 4;
    }

    #grid>div:nth-child(5) {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    #grid>div:nth-child(7) {
        grid-row: 3 / 4;
    }

    #grid>div:nth-child(10) {
        grid-row: 4 / 6;
     }

    #grid>div:nth-child(6),
    #grid>div:nth-child(8) {
        grid-row: 6 / 7;
    }

    #grid>div:nth-child(15) {
        grid-column: 1 / 2;
        grid-row: 7 / 8;
    }

    #grid>div:nth-child(14) {
        grid-row: 7 / 8;
    }

    #grid>div:nth-child(13) {
        display: block;
        grid-column: 1 / 2;
        grid-row: 8 / 9;
    }

    #grid>div:nth-child(4) {
        display: block;
        grid-row: 8 / 9;
    }

}


audio {
    display: block;
    margin: 4rem auto 0 auto;
}

form {
    display: flex;
    max-width: 500px;
    margin: 4rem auto 0 auto;
}

[type="email"] {
    display: block;
    font-family: inherit;
    font-size: inherit;
    padding: 0 1rem;
    border: 1px solid #585858;
    outline: none;
    background-color: #111;
    color: inherit;
    flex-grow: 1;
    margin-right: -1px;
}

[type="submit"] {
    display: block;
    font-family: inherit;
    font-size: 0.8rem;
    outline: none;
    padding: 20px 30px;
    background-color: inherit;
    color: inherit;
    border: 1px solid #585858;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.3px;
    cursor: pointer;
}

::placeholder {
    color: #444;
}

[type="submit"]:hover {
    background-color: #2E2E2E;
}

@media (max-width: 900px) {

    form {
        flex-direction: column;
    }

    [type="email"] {
        padding: 1rem;
        margin-right: 0;
        margin-bottom: -1px;
    }

}


#subscribe>ul {
    display: flex;
    list-style-type: none;
    max-width: 600px;
    margin: 4rem auto 0 auto;
    justify-content: space-between;
}

#subscribe a {
    display: block;
    width: 6rem;
    height: 6rem;
    transition: var(--time);
}

#subscribe a:hover {
    transform: scale(1.3);
}

@media (max-width: 900px) {

    #subscribe>ul {
        flex-direction: column;
        align-items: center;
    }

    #subscribe a {
        margin-bottom: 2rem;
    }

}

footer {
    position: relative;
    padding: 4rem;
    background-color: #111;
}

footer img {
    display: block;
    width: 4rem;
    height: 4rem;
    transition: all 0.3s;
}

footer img:hover {
    transform: scale(1.3);
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

footer li {
    margin: 1rem;
}

